<section id="about" class="module">

	<div class="container-fluid container-custom">

		<!-- MODULE TITLE -->
		<div class="about row">
			<div class="col-xs-12">
             <div class="row">
                <div class="col-xs-12 col-md-6">
				<h2 class="module-title font-alt">Our Philosophy</h2>
				<hr>
				<p class="lead module-subtitle"> 
                    <!--To provide exceptional care for those who cared for us.-->

We believe caregiving is one of the hardest jobs there is. If you aren't at your best, you can't provide the quality of care you desire for your loved ones. <br>At goCareFinder, we understand that everyone needs help from time to time.<br>
  We provide reliable professional care givers who step in when you need a break. <br> 
Your loved ones deserve the best, so that's what we provide.  <br>
</p>

                </div>
                 <div class="col-xs-12 col-md-6">
                   <img src="/img/caring2.jpg" alt="">
                </div>
             </div>
			</div>
		</div>
	</div>
</section>







