
.module, .module-sm, .module-xs, .footer {
    padding-left: 20px;
    padding-right: 20px;
}
.module, .module-sm, .module-xs {
    background-color: #fff;
    /*padding-top: 120px;*/
    /*background-attachment: fixed;*/
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about img{
    width: 100%;
    margin-top: 4%;
    /*padding-right: 5px;
    padding-left: 5px;*/
}
.about h2{
    text-align: center;
    margin-top: 5%;
    padding-top: 0;
    color: #b4a755;
    /*font-family: 'Slabo 27px', serif;*/
}
@media only screen and (max-width: 767px){
.about p{
     text-align: center;
  
    /*font-family: 'Slabo 27px', serif;*/
     color:  #343333; 
     margin-bottom: 10%;
     /*font-size: 1.5vw;*/}
}
/*screens bigger than 768*/
@media only screen and (min-width: 768px) {
    .about p{
     text-align: center;
    /*font-family: 'Slabo 27px', serif;*/
      color: #343333; 
     margin-bottom: 10%;
     /*font-size: 1.5vw;*/
}
}

#about{
   padding-bottom: 15px;
   background-color:  white;
   margin-bottom: 0%;
   padding-top: 10%;
   margin-top: 0%;
}


