
#contactback h2{
    margin-top: 10%;
    padding-top: 20%;
    color: #b4a755;
    /*font-family: 'Slabo 27px', serif;*/
  
}
#contactback{
    text-align: center;
}
.form-group .btn{
    background: #325660;
    color: black;
    border: none;
}
.form-group .btn:hover{
    background: black;
    color: white;
    border: none;
}
.bar{
    position: relative;
    top: 0vw;
    left: 0vw;
    background: white;
    height: 50%;
}
#contactback h5{
    color: grey;
      /*font-family: 'Slabo 27px', serif;*/
}
#contact2{
   
    background: white;
    /*margin-top: 46%;*/
}
#contact2 label{
    color: grey;
}


#contacts{
    position: relative;
    background: #325660 !important;
  padding-bottom: 20px;
  margin-bottom: 0px;
  padding-top: 2px;
}
.me{
    margin-bottom: 25%;
}

.me{
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#fas{
    text-align: center;
}
#fas .fa{
    color:  #b4a755;
}
.end{
    background: #325660;
    color:  #b4a755;
    /*font-family: 'Slabo 27px', serif;*/
    z-index: 88;
    top: 350%;
    left: 0%;
    text-align: center;
}
.end>div{
    text-align: center;
}
form{
    padding-top: 0px;
    margin-top: 0px;
}
.row{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.end p, i{
      /*font-family: 'Slabo 27px', serif;*/
    margin-top: 2vw;

}
.end .fa{
font-size: 3vw;
 padding-right: 1vw;
  padding-left: 1vw;
}

#address{
    border-left: 1px solid grey;
     border-right: 1px solid grey;
}
.me a{
    font-size: 2vw;
     font-family: 'Mrs Saint Delafield', cursive;
     color: lightgrey;
     margin-top: 0px;
}
.me .fa{
    font-size: 2vw;

}
.me{
    /*font-family: 'Slabo 27px', serif;*/
    text-align: center;
    font-size: 2vw;
   /*margin-bottom: 5%;*/
}
#contacts{
    text-align: center;
}
#contacts .me{
    text-align: center;
}

@media only screen and (min-width: 1020px){
    
}
@media only screen and (max-width: 768px){
    
}
@media only screen and (max-width: 414px){
#contacts{
   margin-bottom: 5%;
    }
    .me{
        font-size: 5vw;
    }
    .me a{
        font-size: 7vw;
    }
}
@media only screen and (max-width: 360px){
#contacts{
   margin-bottom: 5%;
    }
    .me{
        font-size: 4vw;
    }
    .me a{
        font-size: 7vw;
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

  }
  /*Ipad */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
  and (-webkit-min-device-pixel-ratio: 3){
      
  }

  /*iphone 6*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (-webkit-min-device-pixel-ratio: 2){ 

}


/*new contact sheet*/

     /*table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }
         
         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }
         
         table tr:nth-child(even) {
            background-color: #ffffff;
         }*/