   
body, html{
    position: relative;
    overflow-x: hidden;
}

#main2 img{
  
        margin-bottom: 0px;
      padding-bottom: 0px;
          position: fixed;
    top: 0%;
    left: 0%;
}

  #main2{
      margin-right: -15px;
      padding-right: 0px !important;
           position: relative;
  }


#row{
    position: relative;
}


a:hover{
    text-decoration: none;
}


#main2{
    background:white url('/img/caring1.jpg') center no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
/*margin-top: 5%;*/
   width: 100%;
}
#main2 h3{
      font-family: 'Satisfy', cursive;
      font-size: 5vw;
      padding-top: 100px;
    margin-top: 33%;
    margin-bottom: 28%;
      z-index: 999;
      color:white;
           text-shadow: 1px 1px 2px #000000;
      
      
}
/*#main2 h2{
      -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #b4a755;
      font-family: 'Slabo 27px', serif;
      background-color: black;
      color: white;
      font-size: 10vw;
      position: absolute;
     text-align: left;
      top: 90%;
      left: 18%;
margin-top: 5%;
    z-index: 66;
}*/
#main2 span{
    text-align: left;
 letter-spacing: 8px;
      /*font-family: 'Slabo 27px', serif;*/
      color: white;
      font-size: 30%;
    padding-top: 0;
      position: absolute;
      top: 90%;
      left: 1%;
    z-index: 66;
}
    #joinBtn{
    border: 3px solid white;
    border-radius: 4px;
    height: 5%;
    width: 65%;
    z-index: 0;
    text-align: center;
    position: relative;
    left: 13%;
    top: 0%;
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 5%;
    font-size: 2.5vw;
    margin-bottom: 63%;
    background-color: white;
    opacity: 0.5;
    color: black;}

#scroller{
animation-duration: 2s;
animation-delay: 2s;
animation-iteration-count: 5;
position: absolute;
bottom: 2%;
left: 49%;
}

#heading{
animation-duration: 2s;
animation-delay: 1s;
animation-iteration-count: 1;

}

.navbar-toggle .icon-bar{
    background-color: #b4a755;
}

@media only screen and (min-width: 1020px) {
        #main2{
    background:white url('/img/caring1.jpg') no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
    margin-top: -2%;
   width: 100%;
   }

#main2 h3{
      font-family: 'Satisfy', cursive;
      font-size: 6vw;
      padding-top: 0px;
       margin-top: 40%;
    margin-bottom: 4%;
      z-index: 999;
      color:white;
    text-shadow: 1px 1px 2px #000000;
}
    #joinBtn{
    border: 3px solid white;
    border-radius: 4px;
    height: 7%;
    width: 65%;
    z-index: 0;
    text-align: center;
    position: relative;
    left: 5%;
    top: 0%;
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 5%;
    font-size: 2.5vw;
    margin-bottom: 63%;
    background-color: white;
    opacity: 0.5;
    color: black;
}
#scroller{
animation-duration: 2s;
animation-delay: 2s;
animation-iteration-count: 5;
position: absolute;
bottom: 2%;
left: 49%;
font-size: 1vw;
}
#main2 img {
    margin-top: 4%;
    }
}

@media only screen and (max-width: 768px) {
        #main2{
    background:white url('/img/caring1.jpg')  no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: contain;
 margin-top: -10%;
 /*top: 8%;*/
   width: 100%;}

#main2 h3{
      font-family: 'Satisfy', cursive;
      font-size: 6vw;
      padding-top: 0px;
     margin-top: 58%;
    margin-bottom: 3%;
      z-index: 999;
      color:white;
    text-shadow: 1px 1px 2px #000000;
}
  #joinBtn{
 border: 3px solid white; 
 border-radius: 4px;
     height: 8%;
    width: 78%;
    z-index: 0;
    text-align: center;
    position: relative;
    top: 0%;
    left: 7%;
    font-size: 6.5vw;
    margin-bottom: 49%;
  background-color: white;
  opacity: 0.5;
  color: black;
}
#scroller{
animation-duration: 2s;
animation-delay: 2s;
animation-iteration-count: 5;
position: absolute;
bottom: 2%;
left: 50%;
font-size: 2vw;
}
#main2 img {
    margin-top: 8%;
    }
}

@media only screen and (max-width: 414px) {
        #main2{
    background:white url('/img/caring1a.jpg')  no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: contain;
 /*top: 8%;*/
   width: 100%;}

#main2 h3{
      font-family: 'Satisfy', cursive;
      font-size: 6vw;
      padding-top: 0px;
    margin-top: 37%;
    margin-bottom: 26%;
      z-index: 999;
      color:white;
    text-shadow: 1px 1px 2px #000000;
}
  #joinBtn{
 border: 3px solid white; 
 border-radius: 4px;
 height: 10%;
 width: 20%;
  z-index: 0;
  text-align: center;
  position: relative;
  top: 0%;
  left: 0%;
  font-size: 4.5vw;

  background-color: white;
  opacity: 0.5;
  color: black;
}
#scroller{
animation-duration: 2s;
animation-delay: 2s;
animation-iteration-count: 5;
position: absolute;
bottom: 2%;
left: 47%;
font-size: 2vw;
}
#main2 img {
    margin-top: 12%;
    }
}



@media only screen and (max-width: 360px) {
        #main2{
    background-image:white url('/img/caring1a.jpg')  no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: contain;
 background-attachment: fixed;
/*top: 5%;*/
   width: 100%;}

#main2 h3{
      font-family: 'Satisfy', cursive;
          font-size: 7vw;
    padding-top: 0px;
    margin-top: 65%;
    margin-bottom: 5%;
    margin-left: 3%;
      z-index: 999;
      color:white;
    text-shadow: 1px 1px 2px #000000;
}
  #joinBtn{
 border: 3px solid white; 
 border-radius: 4px;
    height: 6%;
    width: 72%;
  z-index: 0;
  text-align: center;
  position: relative;
  top: 0%;
  left: 20%;
  font-size: 4.5vw;

  background-color: white;
  opacity: 0.5;
  color: black;
}

#scroller{
animation-duration: 2s;
animation-delay: 2s;
animation-iteration-count: 5;
position: absolute;
bottom: 2%;
left: 52%;
font-size: 2vw;
}

#main2 img {
    margin-top: 12%;
    }

}
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #main2{
    background:white url('/img/caring1.jpg') no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: contain;
 /*top: 8%;*/
   width: 100%;
      position: relative;
      top: 55%;
  margin-top: -10%;
}
#main2 h3{
      font-family: 'Satisfy', cursive;
      font-size: 5vw;
      padding-top: 0px;
   margin-top: 53%;
    margin-bottom: 7%;
      z-index: 10;
      color:white;
    text-shadow: 1px 1px 2px #000000;
}
    #joinBtn{
    border: 3px solid white;
    border-radius: 4px;
    height: 7%;
    width: 65%;
    z-index: 0;
    text-align: center;
    position: relative;
    left: 5%;
    top: 0%;
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 5%;
    font-size: 2.5vw;
    margin-bottom: 63%;
    background-color: white;
    opacity: 0.5;
    color: black;
}
#scroller{
animation-duration: 2s;
animation-delay: 2s;
animation-iteration-count: 5;
position: absolute;
bottom: -2%;
left: 49%;
font-size: 2vw;
}
   #main2 img{
 margin-top: 10%;
}
}
/*Ipad */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
  and (-webkit-min-device-pixel-ratio: 3){ 
    #main2{
    background-image:white url('/img/caring1a.jpg') no-repeat fixed;
 -webkit-background-size: contain;
 -moz-background-size: contain;
 -o-background-size: contain;
 background-size: contain;
  margin-top: -2%;
   width: 100%;
   position: relative;
   top: 55%;
   }
   #main2 h3{
      font-family: 'Satisfy', cursive;
      font-size: 5vw;
      padding-top: 0px;
      margin-top: 130%;
    margin-bottom: 21%;
      z-index: 999;
      color:white;
    text-shadow: 1px 1px 2px #000000;
}
  #joinBtn{
 border: 3px solid white; 
 border-radius: 4px;
 height: 10%;
 width: 20%;
  z-index: 0;
  text-align: center;
  position: relative;
  top: 0%;
  left: 0%;
  font-size: 4.5vw;

  background-color: white;
  opacity: 0.5;
  color: black;
}
#scroller{
animation-duration: 2s;
animation-delay: 2s;
animation-iteration-count: 5;
position: absolute;
bottom: 2%;
left: 49%;
font-size: 2vw;
}
   #main2 img{
 margin-top: 10%;
}
}
/*iphone 6*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (-webkit-min-device-pixel-ratio: 2){ 
    #main2{
    background:white url('/img/caring1a.jpg') no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: contain;

margin-top: 2%;
   width: 100%;
  
}
#main2 h3{
      font-family: 'Satisfy', cursive;
        font-size: 7vw;
    padding-top: 0px;
    margin-top: 48%;
    margin-bottom: 8%;
      z-index: 999;
      margin-left: 4%;
      color:white;
    text-shadow: 1px 1px 2px #000000;
}
  #joinBtn{
 border: 3px solid white; 
 border-radius: 4px;
    height: 5%;
    width: 54%;
  z-index: 0;
  text-align: center;
  position: relative;
  top: 0%;
    left: 19%;
  font-size: 4.5vw;

  background-color: white;
  opacity: 0.5;
  color: black;
}

#scroller{
animation-duration: 2s;
animation-delay: 2s;
animation-iteration-count: 5;
position: absolute;
bottom: 2%;
left: 52%;
font-size: 2vw;
}
#main2 img{
    position: relative;
    top: 10%;
}
}







