  body, p, li, a, html, h1, h2, h3, h4, b{
/*font-family: 'PT Sans', sans-serif;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  
  }

#services {
    background:white url('/gocarefinder.com/img/caring3b.jpg')  no-repeat fixed;
 -webkit-background-size: contain;
 -moz-background-size: contain;
 -o-background-size: contain;
 background-size: contain;
/*margin-top: 5%;*/
   width: 100%;
 z-index: -12;
 padding-right: 0px;
 margin-right:-15px;

}
.module2, .module2-sm, .module2-xs {
    background-color:  white;
    padding-top: 70px;
    margin-right: -20px;
    padding-right: 0px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#fade{
    padding-top: 0%;
    margin-top: 7%;

  
     background: rgba(255, 255, 255, 0.5) ;
     /*margin-bottom: 10%;
     padding-bottom: 10%;*/
}
#services h2{
    color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 13%;
  
}
#service h2{
      color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 20%;
}
#services p{
    margin-bottom: 30px;
     /*font-family: 'Slabo 27px', serif;*/
      margin-bottom: 10%;
     color: black; 
}

#care p{
     margin-bottom: 5%;
     font-size: 2vw;
}

#care{
 background: #C3D6DB;
padding-left: 5px;
padding-right: 5px;
margin: 4 4 4 4;
}
#services .btn{
    background: #b4a755;
    color: black;
     margin-bottom: 10%;
}
#services{
    padding-top:5%;
    padding-bottom: 5%;
    padding-right: 0px;
}
#care .btn{
    color: #b4a755;
    background-color: #325660;
    margin-bottom: 2%;
    
}
#scroller3{
animation-duration: 2s;
animation-delay: 0s;
animation-iteration-count: infinite;
position: absolute;
top: 48%;
left: 50%;
}
@media only screen and (min-width: 1020px){
    #fade{
    padding-top: 0%;
    margin-top: 7%;
     background: rgba(255, 255, 255, 0.5) ;
     /*margin-bottom: 10%;
     padding-bottom: 10%;*/
}
    #services h2{
    color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 13%;
  
}
   #services {
    background:white url('/gocarefinder.com/img/caring3b.jpg') no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
/*margin-top: 5%;*/
   width: 100%;
 z-index: -12;
padding-right: 0px;
} 
#services h2{
    color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 13%;
  
}
#service h2{
      color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 20%;
}
#services p{
    margin-bottom: 30px;
     /*font-family: 'Slabo 27px', serif;*/
      margin-bottom: 10%;
     color: black; 
}
#scroller3{
animation-duration: 2s;
animation-delay: 0s;
animation-iteration-count: infinite;
position: absolute;
top: 46%;
left: 50%;
}
}
@media only screen and (max-width: 768px){
        #fade{
    padding-top: 0%;
    margin-top: 7%;
    margin-left: 9%;
     background: rgba(255, 255, 255, 0.5) ;
     /*margin-bottom: 10%;
     padding-bottom: 10%;*/
}
    #care p{
     margin-bottom: 5%;
     font-size: 3vw;
}
   #services {
    background:white url('/gocarefinder.com/img/caring3b.jpg')  no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: contain;
/*margin-top: 5%;*/
   width: 100%;
 z-index: -12;

} 
#services h2{
    color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 13%;
  
}
#service h2{
      color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 20%;
}
#services p{
    margin-bottom: 30px;
     /*font-family: 'Slabo 27px', serif;*/
      margin-bottom: 10%;
     color: black; 
}
#scroller3{
animation-duration: 2s;
animation-delay: 0s;
animation-iteration-count: infinite;
position: absolute;
top: 47%;
left: 50%;
}
}
@media only screen and (max-width: 414px){
            #fade{
    padding-top: 0%;
    margin-top: 7%;
     margin-left: 38.234px;
     background: rgba(255, 255, 255, 0.5) ;
     /*margin-bottom: 10%;
     padding-bottom: 10%;*/
}
    #care p{
     margin-bottom: 5%;
     font-size: 4vw;
}
#services {
    background:white url('/gocarefinder.com/img/caring3b.jpg')  no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: contain;
/*margin-top: 5%;*/
   width: 100%;
 z-index: -12;

}
#services h2{
    color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 13%;
  
}
#service h2{
      color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 20%;
}
#services p{
    margin-bottom: 30px;
     /*font-family: 'Slabo 27px', serif;*/
      margin-bottom: 10%;
     color: black; 
}
#scroller3{
animation-duration: 2s;
animation-delay: 0s;
animation-iteration-count: infinite;
position: absolute;
top: 47%;
left: 50%;
}
}
@media only screen and (max-width: 360px){
    #fade{
              margin-left: 38.234px;
}
    #care p{
     margin-bottom: 5%;
     font-size: 4vw;
}
#services {
    background:white url('/gocarefinder.com/img/caring3b.jpg')  no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: contain;
/*margin-top: 5%;*/
   width: 100%;
 z-index: -12;

}
#services h2{
    color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 13%;
  
}
#service h2{
      color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 20%;
}
#services p{
    margin-bottom: 30px;
     /*font-family: 'Slabo 27px', serif;*/
      margin-bottom: 10%;
     color: black; 
}
#scroller3{
animation-duration: 2s;
animation-delay: 0s;
animation-iteration-count: infinite;
position: absolute;
top: 48%;
left: 50%;
}
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
      #fade{
              margin-left: 72.234px;
}
      #care p{
     margin-bottom: 5%;
     font-size: 4vw;
}
#services {
    background:white url('/gocarefinder.com/img/caring3b.jpg')  no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: contain;
/*margin-top: 5%;*/
   width: 100%;
 z-index: -12;

}
#services h2{
    color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 9%;
  
}
#service h2{
      color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 9%;
}
#services p{
    margin-bottom: 30px;
     /*font-family: 'Slabo 27px', serif;*/
      margin-bottom: 10%;
     color: black; 
}
#scroller3{
animation-duration: 2s;
animation-delay: 0s;
animation-iteration-count: infinite;
position: absolute;
top: 46%;
left: 50%;
}
  }
  /*Ipad */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
  and (-webkit-min-device-pixel-ratio: 3){
      #fade{
              margin-left: 38.234px;
}
      #care p{
     margin-bottom: 5%;
     font-size: 3vw;
}
#services {
    background:white url('/gocarefinder.com/img/caring3b.jpg')  no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: contain;
/*margin-top: 5%;*/
   width: 100%;
 z-index: -12;

}
#services h2{
    color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 13%;
  
}
#service h2{
      color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 20%;
}
#services p{
    margin-bottom: 30px;
     /*font-family: 'Slabo 27px', serif;*/
      margin-bottom: 10%;
     color: black; 
}
#scroller3{
animation-duration: 2s;
animation-delay: 0s;
animation-iteration-count: infinite;
position: absolute;
top: 48%;
left: 50%;
}
  }


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (-webkit-min-device-pixel-ratio: 2){ 
    #care p{
     margin-bottom: 5%;
     font-size: 4vw;
}
    #services {
    background:white url('/gocarefinder.com/img/caring3c.jpg')  no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: contain;
/*margin-top: 5%;*/
   width: 100%;
 z-index: -12;

}
#fade{
              margin-left: 38.234px;
}
#services h2{
    color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 13%;
         font-size: 8vw;
  
}
#service h2{
      color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 20%;
         font-size: 8vw;
}
#services p{
    margin-bottom: 30px;
     /*font-family: 'Slabo 27px', serif;*/
      margin-bottom: 10%;
     color: black; 
}
#scroller3{
animation-duration: 2s;
animation-delay: 0s;
animation-iteration-count: infinite;
position: absolute;
top: 48%;
left: 50%;
}
}
  /*iphone 6*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (-webkit-min-device-pixel-ratio: 2){ 
    #care p{
     margin-bottom: 5%;
     font-size: 4vw;
}
#services {
    background:white url('/gocarefinder.com/img/caring3c.jpg')  no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: contain;
/*margin-top: 5%;*/
   width: 100%;
 z-index: -12;

}

          #fade{
        margin-left: 42.234px;
}

#services h2{
    color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 13%;
  
}
#service h2{
      color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
     margin-top: 20%;
}
#services p{
    margin-bottom: 30px;
     /*font-family: 'Slabo 27px', serif;*/
      margin-bottom: 10%;
     color: black; 
}
#scroller3{
animation-duration: 2s;
animation-delay: 0s;
animation-iteration-count: infinite;
position: absolute;
top: 48%;
left: 50%;
}
}

@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) {
#fade{
            margin-left: 41.234px;
}

}
@media only screen 
and (min-device-width : 412px) 
and (max-device-width : 732px) {
#fade{
            margin-left: 45.234px;
}

}
