
  
    <div id="services" class="container" style="position: relative; background-color: white;margin-left: -15px; margin-right: -15px;">
   
    <div class="row">
      
      <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 text-center wrapper-xs wrapper-no-padding-top">
        <!--<span class="subheading">Who we are</span>-->
        <h2><b>What We Do</b></h2>
        <hr>

        <p class="lead">   When my family was providing care for our loved ones, we questioned whether to hire a stranger. We wondered if our loved ones would be safe and if the person caring for them would be knowledgeable, kind, trustworthy, and reliable?  <br>
        This is why I am committed to hiring the best. I personally interview each employee and only hire them if I feel they have these qualities. <br>
        Our team largely consists of certified nursing assistants. We have an extensive screening process, which not only includes personal interviews, but also certifications, and background checks. </p>
      </div>
    </div>
    </div>
   
  		<footer id="scroller2">
				<div class="scroll-down">
					<i class="fa fa-angle-double-down fa-4x"></i>
				</div>
			</footer>
  
  <div id="service" class="container">
    <div class="row">
     
      <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 text-center wrapper-xs wrapper-no-padding-top">
        <!--<span class="subheading">Who we are</span>-->
    <h2>Services</h2>
        <hr>

        <p class="lead"> We provide "in-home caregiving", which includes services such as cleaning, bathing, cooking, and playing games. </p>
      </div>
    </div>

    <div class="row text-center">
    <div class="col-md-4">
        <div id="care" class="row">
        
            <h2>Memory Impairment</h2>
            <p class="lead" >We are certified to work with patients who have Dementia or Alzheimer's. </p>
           <p>Read more...</p>
           <a href="https://www.alz.org/care/alzheimers-dementia-in-home-health.asp" target="_blank" type="button" class="btn">Alzheimers</a>
   <a href="https://www.caregiver.org/caregivers-guide-understanding-dementia-behaviors" target="_blank" type="button" class="btn">Dementia</a>
      
        </div>
      </div>

      <div class="col-md-4">
        <div id="care" class="row">
       
            <h2>Sensory Impairment</h2>
            <p class="lead" >We are certified to work with patients who are either visually or hearing impaired. </p>
              <p>Read more...</p>
           <a href="http://disability.illinois.edu/instructor-information/disability-specific-instructional-strategies/vision-impairments" target="_blank" type="button" class="btn">Visually Impaired</a>
   <a href="http://disability.illinois.edu/instructor-information/disability-specific-instructional-strategies/hearing-impairments" target="_blank" type="button" class="btn">Hearing Impaired</a>
    
        </div>
      </div>

      <div  class="col-md-4">
        <div id="care" class="row">
            <h2>Mobility</h2>
           <p class="lead" >We are certified to work with patients who use canes, braces, wheelchairs, and walkers.</p>
            <p>Read more...</p>
              <a href="http://disability.illinois.edu/instructor-information/disability-specific-instructional-strategies/mobility-impairments" target="_blank" type="button" class="btn">Mobility Impairments</a>
        </div>
      </div>
    </div>
  </div>
