  body, p, li, a, html, h1, h2, h3, h4, b{
/*font-family: 'PT Sans', sans-serif;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  
  }
  #founder{
    color: lightgrey;
   padding-top: 5%;
   padding-bottom: 10%;
}
.module, .module-sm, .module-xs {
    background-color:  #325660;
    background-attachment: fixed;
    padding-top: 100px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     color: grey;
}
#founder h2{
    color: #b4a755;
     /*font-family: 'Slabo 27px', serif;*/
}
#founder p{
    margin-bottom: 30px;
     /*font-family: 'Slabo 27px', serif;*/
}
#mugs .img{
    margin-left: 0;
    margin-right: 0;
}
#mugs .btn{
    background: #b4a755;
    color: black;
     margin-bottom: 10%;
}
#founder{
    padding-top: 13%;
}

@media only screen and (min-width: 1020px){
    #mugs img{
        margin-top: 0%;
    margin-left: 0;
    margin-right: 0;
    width: 40%; 
    border: 2px solid goldenrod; 
    /*border-radius: 72%;*/
}
}
@media only screen and (max-width: 768px){
        #mugs img{
        margin-top: -2%;
    margin-left: 0;
    margin-right: 0;
    width: 40%; 
    border: 2px solid goldenrod; 
    /*border-radius: 72%;*/
}
}
@media only screen and (max-width: 414px){
    #mugs img{
        margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
    width: 40%; 
    border: 2px solid goldenrod; 
    /*border-radius: 72%;*/
}
}
@media only screen and (max-width: 360px){
    #mugs img{
        margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
    width: 40%; 
    border: 2px solid goldenrod; 
    /*border-radius: 72%;*/
}
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #mugs img{
        margin-top: -2%;
    margin-left: 0;
    margin-right: 0;
    width: 40%; 
    border: 2px solid goldenrod; 
    /*border-radius: 72%;*/
}
  }
  /*Ipad */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
  and (-webkit-min-device-pixel-ratio: 3){
          #mugs img{
        margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
    width: 40%; 
    border: 2px solid goldenrod; 
    /*border-radius: 72%;*/
}
  }

  iphone 6*/
  @media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (-webkit-min-device-pixel-ratio: 2){ 
    #mugs img{
        margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
    width: 40%; 
    border: 2px solid goldenrod; 
    /*border-radius: 72%;*/
}
}
