<div id="founder" class="module">
  <div  class="container">
    <div style="text-align: center;" class="row">
      <div class="col-xs-12 col-md-6 text-center wrapper-xs wrapper-no-padding-top">
        <!--<span class="subheading">Who we are</span>-->
        <h2>Kelly Young</h2>
        <hr>

        <p class="lead">Kelly Young is a registered nurse for both the state of Idaho and Oregon.  She earned a <em>B.S. in Nursing from Boise State University</em> and a <em>B.S. in Exercise and Sport Science</em> from Oregon State University.<br>
          She has spent many years as a fitness provider teaching fitness classes and providing personal training. 
<br><br>
          <em>"Everyday I see the importance of providing excellent care for both our aging loved ones and those who care for them." <br>-Kelly Young</em>
         </p>
      </div>
    

   
      <div id="mugs" class="col-xs-12 col-md-6">
        <div class="row">
          <div style="text-align: center;" class="col-md-10 wrapper-default wrapper-xs wrapper-shadow no-gutter">
            <img src="img/Kelly.jpg" class="pull-top" style="width: 400px; border: 2px solid goldenrod; border-radius: 72%;" alt="image">


            <h2>Kelly Young</h2>
            <p style="color: grey;" class="lead" >Owner and Registered Nurse</p>
            <!--<a>
              <p class="btn" ng-click="show = !show">Read more...</p>
            </a>
            <div ng-show="show">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae voluptas consectetur obcaecati. Perspiciatis dicta, suscipit laboriosam, earum adipisci libero vitae nostrum maxime, quas nisi ducimus maiores temporibus dolorem quidem dignissimos.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quos ullam fugiat quo optio esse quasi dolorem odit debitis, quisquam sunt velit dignissimos iusto ipsa id recusandae. Quo, nulla, vitae!</p>
            </div>-->

          </div>
        </div>
      </div>



   
    </div>
  </div>
</div>




